@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 39 44% 93%;
    --foreground: 25 35% 25%;
    --card: 39 44% 93%;
    --card-foreground: 25 35% 25%;
    --popover: 39 44% 93%;
    --popover-foreground: 25 35% 25%;
    --primary: 28 100% 86%;
    --primary-foreground: 25 35% 20%;
    --secondary: 35 60% 90%;
    --secondary-foreground: 25 35% 20%;
    --muted: 35 60% 90%;
    --muted-foreground: 25 35% 45%;
    --accent: 17 100% 74%;
    --accent-foreground: 25 35% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 39 20% 83%;
    --input: 39 20% 83%;
    --ring: 17 100% 74%;
    --chart-1: 17 100% 74%;
    --chart-2: 28 100% 86%;
    --chart-3: 35 60% 80%;
    --chart-4: 25 35% 55%;
    --chart-5: 25 35% 35%;
    --radius: 0.5rem;
    --sidebar-background: 39 44% 90%;
    --sidebar-foreground: 25 35% 25%;
    --sidebar-primary: 17 100% 74%;
    --sidebar-primary-foreground: 25 35% 15%;
    --sidebar-accent: 39 44% 85%;
    --sidebar-accent-foreground: 25 35% 15%;
    --sidebar-border: 39 20% 80%;
    --sidebar-ring: 17 100% 74%;
  }
  .dark {
    --background: 25 35% 15%;
    --foreground: 39 44% 93%;
    --card: 25 35% 15%;
    --card-foreground: 39 44% 93%;
    --popover: 25 35% 15%;
    --popover-foreground: 39 44% 93%;
    --primary: 17 100% 74%;
    --primary-foreground: 25 35% 15%;
    --secondary: 25 35% 25%;
    --secondary-foreground: 39 44% 93%;
    --muted: 25 35% 25%;
    --muted-foreground: 39 44% 75%;
    --accent: 28 100% 86%;
    --accent-foreground: 25 35% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 25 35% 25%;
    --input: 25 35% 25%;
    --ring: 17 100% 74%;
    --chart-1: 17 100% 74%;
    --chart-2: 28 100% 86%;
    --chart-3: 35 60% 80%;
    --chart-4: 39 44% 75%;
    --chart-5: 39 44% 93%;
    --sidebar-background: 25 35% 18%;
    --sidebar-foreground: 39 44% 93%;
    --sidebar-primary: 17 100% 74%;
    --sidebar-primary-foreground: 25 35% 15%;
    --sidebar-accent: 25 35% 28%;
    --sidebar-accent-foreground: 39 44% 93%;
    --sidebar-border: 25 35% 25%;
    --sidebar-ring: 17 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
